In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline


import seaborn as sns

In [2]:
import mysql.connector as mysql_conn
from mysql.connector import Error

In [3]:
MYSQL_USER = MYSQL_PWD = "student"
MYSQL_HOST = "cpanel.insaid.co"
MYSQL_DB = "Capstone1"

In [5]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/b6/f6/78a05be0987bd531dec8064288f4eef1148fe784c364dd3b37cccf400c02/mysql_connector_python-8.0.19-cp37-cp37m-win_amd64.whl (4.3MB)
Collecting protobuf==3.6.1 (from mysql-connector-python)
  Using cached https://files.pythonhosted.org/packages/77/78/a7f1ce761e2c738e209857175cd4f90a8562d1bde32868a8cd5290d58926/protobuf-3.6.1-py2.py3-none-any.whl
Collecting dnspython==1.16.0 (from mysql-connector-python)
  Using cached https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (41.4.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Installing collected packages: protobuf, dnspython, mysql-connector-python
Successfully installed dnspython-1.16.0 mysql-connector-python-8.0.19 protobuf-3.6.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector
from mysql.connector import Error

Loading gender_age_train and phone_brand_device_model data

In [41]:
gender_age_train=pd.DataFrame()
phone_brand_device_model=pd.DataFrame()

try:
    connection = mysql.connector.connect(host=MYSQL_HOST, database=MYSQL_DB,user=MYSQL_USER,password=MYSQL_PWD)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        gender_age_train=pd.read_sql("select * from gender_age_train", connection)
        phone_brand_device_model=pd.read_sql("select * from phone_brand_device_model", connection)
except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        print("MySQL connection is closed")

Connected to MySQL Server version  5.6.46-cll-lve
MySQL connection is closed

In [42]:
gender_age_train

                 device_id gender  age   group
0     -8076087639492063270      M   35  M32-38
1     -2897161552818060146      M   35  M32-38
2     -8260683887967679142      M   35  M32-38
3     -4938849341048082022      M   30  M29-31
4       245133531816851882      M   30  M29-31
...                    ...    ...  ...     ...
74640  4682031842235089751      M   30  M29-31
74641 -9178703742877135986      M   30  M29-31
74642   180946546684162312      M   20    M22-
74643  1390702386071991851      M   37  M32-38
74644    89181010588227347      M   25  M23-26

[74645 rows x 4 columns]

In [49]:
gender_age_train['device_id'].value_counts()

 2257159551899998892    1
-5859103589956090399    1
-1824840104697287357    1
 4676982795249941605    1
-4498445842577775035    1
                       ..
 1973456509863984167    1
-6615755711424206170    1
 7038954467068358105    1
 452720611336482113     1
 8954493586702958652    1
Name: device_id, Length: 74645, dtype: int64

In [21]:
max(gender_age_train.age)

96

In [23]:
min(gender_age_train.age)

1

In [24]:
print(gender_age_train[gender_age_train.age == gender_age_train.age.max()])

                device_id gender  age group
5958 -7047596037344697961      F   96  F43+

In [25]:
print(gender_age_train[gender_age_train.age == gender_age_train.age.min()])

                 device_id gender  age group
10385  3553057874282315257      M    1  M22-

In [27]:
gender_age_train.gender.unique()

array(['M', 'F'], dtype=object)

In [33]:
gender_age_train['gender'].value_counts()

M    47904
F    26741
Name: gender, dtype: int64

In [43]:
phone_brand_device_model

                 device_id phone_brand device_model
0      1877775838486905855        vivo          Y13
1     -3766087376657242966          小米         V183
2     -6238937574958215831        OPPO          R7s
3      8973197758510677470          三星        A368t
4     -2015528097870762664          小米      红米Note2
...                    ...         ...          ...
87721 -4961458925928574032          华为       荣耀畅玩4X
87722 -8819817317449262375          华为          荣耀6
87723 -3358291377416935026          华为        荣耀畅玩4
87724  3282788959750981633          小米         MI 2
87725  2491639413207286271          酷比           M1

[87726 rows x 3 columns]

In [34]:
phone_brand_device_model['phone_brand'].value_counts()

小米      21645
三星      19211
华为      15181
vivo     7596
OPPO     6717
        ...
瑞高          1
凯利通         1
西门子         1
E人E本        1
MIL         1
Name: phone_brand, Length: 116, dtype: int64

In [35]:
phone_brand_device_model['device_model'].value_counts()

红米note              3500
MI 3                2739
MI 2S               2547
Galaxy Note 3       2378
MI 4                2256
                    ...
E622M                  1
Galaxy Grand Max       1
G620-L72               1
T860                   1
7061                   1
Name: device_model, Length: 1467, dtype: int64

In [48]:
phone_brand_device_model['device_id'].value_counts()

 4297421574931963628    1
-6683447465042266790    1
-2025398450464681486    1
-2104282943635898244    1
-1079794670707116889    1
                       ..
-8243778303410121446    1
 4963348570238922413    1
 2156147271872893762    1
-3354736606620104853    1
 8954493586702958652    1
Name: device_id, Length: 87726, dtype: int64

In [44]:
phone_brand_device_model_new = phone_brand_device_model.groupby('device_model')['device_id'].nunique()

In [45]:
phone_brand_device_model_new

device_model
1100           9
1105          51
1107         137
2             28
201           17
            ...
麦芒4          201
黄金斗士A8       150
黄金斗士Note8     33
黄金斗士S8畅玩版      6
黄金斗士青春版        5
Name: device_id, Length: 1467, dtype: int64

Loading events_data

In [16]:

import sys                                                                      # Import packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 

pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs ()
                                                                                # This sets it up to dispaly with a horizontal scroll instead of hiding the middle columns
#uploaded locally
events_data = pd.read_csv("events_data.csv")  # Load in the dataset as mh

In [17]:
events_data

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1.0,2.918269e+16,2016-05-01 00:55:25,77.266049,28.681610,Delhi,Delhi
1,7104.0,2.918269e+16,2016-05-02 09:37:02,77.266049,28.681610,Delhi,Delhi
2,29661.0,2.918269e+16,2016-05-04 00:56:04,77.266049,28.681610,Delhi,Delhi
3,33133.0,2.918269e+16,2016-05-06 05:01:15,77.266049,28.681610,Delhi,Delhi
4,38980.0,2.918269e+16,2016-05-06 09:55:04,77.266049,28.681610,Delhi,Delhi
...,...,...,...,...,...,...,...
3252945,3241600.0,6.057196e+18,2016-05-04 17:51:29,76.437031,14.328436,Chitradurga,Karnataka
3252946,3241929.0,8.855298e+18,2016-05-05 17:05:08,88.131884,24.551253,Jangipur,WestBengal
3252947,3242387.0,1.734091e+18,2016-05-07 17:17:27,86.538832,25.542353,Khagaria,Bihar
3252948,3248517.0,7.886185e+18,2016-05-04 21:35:09,88.428472,22.731814,Bally,WestBengal
3252949,3251669.0,-8.448990e+18,2016-05-02 23:34:42,72.140981,21.862590,Bhavnagar,Gujarat

In [ ]:
events_data

Checking missing values in gender_age_train

In [18]:
total = gender_age_train.isnull().sum().sort_values(ascending=False)
percent = (gender_age_train.isnull().sum()/gender_age_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

           Total  Percent
group          0      0.0
age            0      0.0
gender         0      0.0
device_id      0      0.0

So there is no missing values for gender_age_train

Checking missing values in phone_brand_device_model

In [19]:
total = phone_brand_device_model.isnull().sum().sort_values(ascending=False)
percent = (phone_brand_device_model.isnull().sum()/phone_brand_device_model.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

              Total  Percent
device_model      0      0.0
phone_brand       0      0.0
device_id         0      0.0

There is no missing values for phone_brand_device_model

Checking missing values in events_data

In [20]:
total = events_data.isnull().sum().sort_values(ascending=False)
percent = (events_data.isnull().sum()/events_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

           Total   Percent
device_id    453  0.000139
latitude     423  0.000130
longitude    423  0.000130
state        377  0.000116
city           0  0.000000
timestamp      0  0.000000
event_id       0  0.000000

Some missing values are there for device_id,latitude,longitude and state. Although the percentage is almost negligible.